In [1]:
# I'm importing the libraries that I need to use
import json
import pandas as pd
import numpy as np

In [2]:
#Reading the csv files and set up content inside variables
file1=pd.read_csv("H-DHT22-measures.csv")
file2=pd.read_csv("H-HTU21-measures.csv")
file3=pd.read_csv("P-BMP280-measures.csv")
file4=pd.read_csv("T-BMP280-measures.csv")
file5=pd.read_csv("T-DHT11-measures.csv")
file6=pd.read_csv("T-DHT22-measures.csv")

#Reading the json files and set up content inside variables
data_file7 = []
with open('H-DHT11-measures.json') as f7:
    for line7 in f7:
        data_file7.append(json.loads(line7))
file7=pd.DataFrame(data_file7)     

data_file8 = []
with open('P-DM280-measures.json') as f8:
    for line8 in f8:
        data_file8.append(json.loads(line8))
file8=pd.DataFrame(data_file8)  

data_file9 = []
with open('T-DM280-measures.json') as f9:
    for line9 in f9:
        data_file9.append(json.loads(line9))
file9=pd.DataFrame(data_file9) 

data_file10 = []
with open('T-HTU21-measures.json') as f10:
    for line10 in f10:
        data_file10.append(json.loads(line10))
file10=pd.DataFrame(data_file10)

In [13]:
#Using head() to check columns name and a preview of the first rows
file1.head(),file2.head(), file3.head(), file4.head(), file5.head(), file6.head(), file7.head(), file8.head(), file9.head(), file10.head()

(    sensor  value                  time
 0  H-DHT22   15.7  2017-12-19T14:07:18Z
 1  H-DHT22   15.7  2017-12-19T14:07:25Z
 2  H-DHT22   15.7  2017-12-19T14:07:32Z
 3  H-DHT22   15.7  2017-12-19T14:07:38Z
 4  H-DHT22   15.7  2017-12-19T14:07:45Z,
     sensor  value                  time
 0  H-HTU21   28.3  2017-12-20T12:17:05Z
 1  H-HTU21   28.2  2017-12-20T12:17:07Z
 2  H-HTU21   28.1  2017-12-20T12:17:09Z
 3  H-HTU21   28.2  2017-12-20T12:17:11Z
 4  H-HTU21   28.2  2017-12-20T12:17:13Z,
      sensor    value                  time
 0  P-BMP280  1035.56  2017-12-22T10:52:59Z
 1  P-BMP280  1035.55  2017-12-22T10:53:02Z
 2  P-BMP280  1035.54  2017-12-22T10:53:05Z
 3  P-BMP280  1035.54  2017-12-22T10:53:08Z
 4  P-BMP280  1035.53  2017-12-22T10:53:11Z,
      sensor  value                  time
 0  T-BMP280  26.43  2017-12-22T10:52:59Z
 1  T-BMP280  26.43  2017-12-22T10:53:02Z
 2  T-BMP280  26.44  2017-12-22T10:53:05Z
 3  T-BMP280  26.44  2017-12-22T10:53:08Z
 4  T-BMP280  26.42  2017-12-22T10:53:11Z,
     sensor  value                  time
 0  T-DHT11     27  2017-12-22T11:22:11Z
 1  T-DHT11     28  2017-12-22T11:22:16Z
 2  T-DHT11     28  2017-12-22T11:22:20Z
 3  T-DHT11     28  2017-12-22T11:22:24Z
 4  T-DHT11     28  2017-12-22T11:22:28Z,
     sensor  value                  time
 0  T-DHT22   25.5  2017-12-19T14:07:18Z
 1  T-DHT22   25.5  2017-12-19T14:07:25Z
 2  T-DHT22   25.6  2017-12-19T14:07:32Z
 3  T-DHT22   25.6  2017-12-19T14:07:38Z
 4  T-DHT22   25.6  2017-12-19T14:07:45Z,
     sensor                  time  value
 0  H-DHT11  2017-12-22T11:22:11Z     31
 1  H-DHT11  2017-12-22T11:22:16Z     31
 2  H-DHT11  2017-12-22T11:22:20Z     31
 3  H-DHT11  2017-12-22T11:22:24Z     31
 4  H-DHT11  2017-12-22T11:22:28Z     31,
     sensor                  time    value
 0  P-DM280  2017-12-22T10:51:32Z  1040.00
 1  P-DM280  2017-12-22T10:51:35Z  1040.00
 2  P-DM280  2017-12-22T10:51:38Z  1039.97
 3  P-DM280  2017-12-22T10:51:41Z  1039.95,
     sensor                  time  value
 0  T-DM280  2017-12-22T10:51:31Z  26.43
 1  T-DM280  2017-12-22T10:51:35Z  26.43
 2  T-DM280  2017-12-22T10:51:38Z  26.45
 3  T-DM280  2017-12-22T10:51:41Z  26.45,
     sensor                  time  value
 0  T-HTU21  2017-12-20T12:17:05Z  25.09
 1  T-HTU21  2017-12-20T12:17:07Z  25.09
 2  T-HTU21  2017-12-20T12:17:09Z  25.09
 3  T-HTU21  2017-12-20T12:17:11Z  25.09
 4  T-HTU21  2017-12-20T12:17:13Z  25.08)

In [19]:
#So far my first finding is that the order of  columns for file1 to file6 is sensor, value, time, 
#but from file7 to file10 is sensor, time, value.
# I have decided to work with the files separately to clean the data. So, It is not an issue the order of columns
#but if I had decided to combine the files I had to re-order the columns to make that the data match.

#Now, I want to know total columns, row, data type and size on disk:
file1.info(), file2.info(), file3.info(), file4.info(), file5.info(), file6.info(), file7.info(), file8.info(),\
file9.info(), file10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440160 entries, 0 to 1440159
Data columns (total 3 columns):
sensor    1440160 non-null object
value     1440160 non-null float64
time      1440160 non-null object
dtypes: float64(1), object(2)
memory usage: 33.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428377 entries, 0 to 1428376
Data columns (total 3 columns):
sensor    1428377 non-null object
value     1428377 non-null float64
time      1428377 non-null object
dtypes: float64(1), object(2)
memory usage: 32.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1422788 entries, 0 to 1422787
Data columns (total 3 columns):
sensor    1422788 non-null object
value     1422788 non-null float64
time      1422788 non-null object
dtypes: float64(1), object(2)
memory usage: 32.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1422795 entries, 0 to 1422794
Data columns (total 3 columns):
sensor    1422795 non-null object
value     1422795 non-null float64
time      1422795 non-null object
dtypes: float64(1), object(2)
memory usage: 32.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420308 entries, 0 to 1420307
Data columns (total 3 columns):
sensor    1420308 non-null object
value     1420308 non-null int64
time      1420308 non-null object
dtypes: int64(1), object(2)
memory usage: 32.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440150 entries, 0 to 1440149
Data columns (total 3 columns):
sensor    1440150 non-null object
value     1440150 non-null float64
time      1440150 non-null object
dtypes: float64(1), object(2)
memory usage: 33.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420302 entries, 0 to 1420301
Data columns (total 3 columns):
sensor    1420302 non-null object
time      1420302 non-null object
value     1420302 non-null int64
dtypes: int64(1), object(2)
memory usage: 32.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
sensor    4 non-null object
time      4 non-null object
value     4 non-null float64
dtypes: float64(1), object(2)
memory usage: 176.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
sensor    4 non-null object
time      4 non-null object
value     4 non-null float64
dtypes: float64(1), object(2)
memory usage: 176.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428383 entries, 0 to 1428382
Data columns (total 3 columns):
sensor    1428383 non-null object
time      1428383 non-null object
value     1428383 non-null float64
dtypes: float64(1), object(2)
memory usage: 32.7+ MB

(None, None, None, None, None, None, None, None, None, None)

In [20]:
#Another finding: in some files the data type for value is Int64 while other is float64
#The remaining columns (sensor, time) are object data types.
#Also I can see the different size on disk for each file, some has similar size but not all of them.

#Even when the info() shows that columns are not null, I want to make sure 
pd.isnull(file1).sum(axis = 0), pd.isnull(file2).sum(axis = 0), pd.isnull(file3).sum(axis = 0), pd.isnull(file4).sum(axis = 0),\
pd.isnull(file5).sum(axis = 0), pd.isnull(file6).sum(axis = 0), pd.isnull(file7).sum(axis = 0), pd.isnull(file8).sum(axis = 0),\
pd.isnull(file9).sum(axis = 0), pd.isnull(file10).sum(axis = 0)

(sensor    0
 value     0
 time      0
 dtype: int64, sensor    0
 value     0
 time      0
 dtype: int64, sensor    0
 value     0
 time      0
 dtype: int64, sensor    0
 value     0
 time      0
 dtype: int64, sensor    0
 value     0
 time      0
 dtype: int64, sensor    0
 value     0
 time      0
 dtype: int64, sensor    0
 time      0
 value     0
 dtype: int64, sensor    0
 time      0
 value     0
 dtype: int64, sensor    0
 time      0
 value     0
 dtype: int64, sensor    0
 time      0
 value     0
 dtype: int64)

In [62]:
#Now, I want to convert int64 to float64 data type for the value column on file5 and file7
#Also check that the column type are changed

file5.value=file5.value.astype('float64')
file7.value=file7.value.astype('float64')
file5.info()
file7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420308 entries, 0 to 1420307
Data columns (total 3 columns):
sensor    1420308 non-null object
value     1420308 non-null float64
time      1420308 non-null object
dtypes: float64(1), object(2)
memory usage: 32.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420302 entries, 0 to 1420301
Data columns (total 3 columns):
sensor    1420302 non-null object
time      1420302 non-null object
value     1420302 non-null float64
dtypes: float64(1), object(2)
memory usage: 32.5+ MB

In [68]:
# I'm changing the orders of columns from file7 to file10 and checking that changes are being reflected.
file7 = file7[['sensor', 'value', 'time']]
file8 = file8[['sensor', 'value', 'time']]
file9 = file9[['sensor', 'value', 'time']]
file10 = file10[['sensor', 'value', 'time']]
file7.info()
file8.info()
file9.info()
file10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420302 entries, 0 to 1420301
Data columns (total 3 columns):
sensor    1420302 non-null object
value     1420302 non-null float64
time      1420302 non-null object
dtypes: float64(1), object(2)
memory usage: 32.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
sensor    4 non-null object
value     4 non-null float64
time      4 non-null object
dtypes: float64(1), object(2)
memory usage: 176.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
sensor    4 non-null object
value     4 non-null float64
time      4 non-null object
dtypes: float64(1), object(2)
memory usage: 176.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428383 entries, 0 to 1428382
Data columns (total 3 columns):
sensor    1428383 non-null object
value     1428383 non-null float64
time      1428383 non-null object
dtypes: float64(1), object(2)
memory usage: 32.7+ MB

In [69]:
# I want to concatenate all rows in a sigle file ancd checking the new size on disk and number of rows
concatenatedfile=pd.concat([file1,file2,file3,file4,file5,file6,file7,file8,file9,file10], sort=True)
concatenatedfile.info()
concatenatedfile.count()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11423271 entries, 0 to 1428382
Data columns (total 3 columns):
sensor    object
time      object
value     float64
dtypes: float64(1), object(2)
memory usage: 348.6+ MB

sensor    11423271
time      11423271
value     11423271
dtype: int64

In [80]:
#Last verification of non-null 
null_columns=concatenatedfile.columns[concatenatedfile.isnull().any()]
concatenatedfile[null_columns].isnull().sum()
print(concatenatedfile[concatenatedfile.isnull().any(axis=1)][null_columns].head())

pd.isnull(concatenatedfile).sum(axis = 0)

Empty DataFrame
Columns: []
Index: []

sensor    0
time      0
value     0
dtype: int64

In [71]:
#Checking the number of rows grouping by sensor
concatenatedfile.groupby(by="sensor").count()

             time    value
sensor
H-DHT11   1420302  1420302
H-DHT22   1440160  1440160
H-HTU21   1428377  1428377
P-BMP280  1422788  1422788
P-DM280         4        4
T-BMP280  1422795  1422795
T-DHT11   1420308  1420308
T-DHT22   1440150  1440150
T-DM280         4        4
T-HTU21   1428383  1428383

In [74]:
#I want to see a preview of firts and last rows of the concatenated file.
concatenatedfile.head(), concatenatedfile.tail()

(    sensor                  time  value
 0  H-DHT22  2017-12-19T14:07:18Z   15.7
 1  H-DHT22  2017-12-19T14:07:25Z   15.7
 2  H-DHT22  2017-12-19T14:07:32Z   15.7
 3  H-DHT22  2017-12-19T14:07:38Z   15.7
 4  H-DHT22  2017-12-19T14:07:45Z   15.7,
           sensor                  time  value
 1428378  T-HTU21  2018-03-13T11:41:55Z  26.57
 1428379  T-HTU21  2018-03-13T11:41:59Z  26.56
 1428380  T-HTU21  2018-03-13T11:42:03Z  26.58
 1428381  T-HTU21  2018-03-13T11:42:07Z  26.58
 1428382  T-HTU21  2018-03-13T11:42:11Z  26.58)